<div class="container">
	<div class="row">
		<div class="col-3">
			<ul class="list-group">
				<li class="list-group-item">
					類別
					<ul class="list-group">
						<li class="list-group-item">副類別</li>
						<li class="list-group-item">副類別</li>
						<li class="list-group-item">副類別</li>
					</ul>
				</li>
				<li class="list-group-item">
					類別
					<ul class="list-group">
						<li class="list-group-item">副類別</li>
						<li class="list-group-item">副類別</li>
						<li class="list-group-item">副類別</li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="col-9">
			<div class="row">
				<div class="col-12">
					<div class="jumbotron">
					  <h1> <%= @ad[:title] %> </h1>
					  <p> <%= @ad[:description] %> </p>
					  <p><a class="btn btn-primary btn-lg" href="#" role="button"> <%= @ad[:action_title] %> </a></p>
				  	</div>
				</div>
			</div>
			<div class="row">

				<% @products.each do |product| %>
					<div class="col-3">
						<div class="thumbnail">
					      <%= image_tag product[:image_url], size: "200x200" %>
					      <div class="caption">
					        <h3> <%= "#{product[:id]}. #{product[:name]}" %> </h3>
					        <p> <%= product[:description] %> </p>
					        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
					      </div>
					    </div>
					</div>
				<% end %>
				
			</div>

			<div class="row">
				<div class="col-12">
					<nav aria-label="Page navigation example">
					  <ul class="pagination">
					  	<% if @page > @first_page %>
						  	<li class="page-link">
							      <%= link_to root_path(page: @page - 1) do %> 
								        <span aria-hidden="true">&laquo;</span>
								        <span class="sr-only">Previous</span>
							      <% end %>
							</li>
						<% end %>
						
					    <% (@first_page..@last_page).each do |page_number| %>
					    	<li class="page-link">
					    		<%= link_to  page_number, root_path(page: page_number)%> 
					    	</li>
						<% end %>
					  
						<% if @page < @last_page %>
						    <li class="page-link">
						        <%= link_to root_path(page: @page + 1) do %>
						        	<span aria-hidden="true">&raquo;</span>
						        	<span class="sr-only">Next</span>
						        <% end %>
						    </li>
						<% end %>
					  </ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>