<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "My Chocolate", root_path, class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <%= link_to "查看訂單", orders_path, class:"nav-link"%>      </li>
      <li class="nav-item">
        <%= link_to "結帳", cart_items_path, class:"nav-link"%>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          
          <% if current_user %>
            <% if current_user.is_admin? %>
              <%= link_to "New Product", new_product_path, class:"dropdown-item"%><br />
            <% end %>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
            
          <% else %>
            <%= link_to "Log In", new_user_session_path, class:"dropdown-item" %>
          <% end %>
          
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>