<!DOCTYPE html>
<html>
  <head>
    <title>OnlineShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'bootstrap_gem', media: 'all'%>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

  </head>

  <body>
    <%= render partial: 'layouts/nav' %>
    <% if flash[:notice] %>
      <div class="alert alert-success" role="alert">
        <%= flash[:notice] %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>  
      </div>
    <% end %>
    <%= yield %>
    <%= render partial: 'layouts/footer'%>
  </body>
</html>
